*{
    padding: 0%;
    margin: 0%;

}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #efffe3;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cards{
    margin-top: 55px;
}
.cards .cardLoad{
    width: 340px;
    height: 300px;
    background-color: #eeeded;
    border-radius: 6px;
    margin-inline: 20px;

}
.cardLoad p{
    width: 330px;
    height: 25px;
    background-color: #eeeded;
    border-radius: 4px;
    margin-top: 321px;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: rgb(237 219 153);
    height: 60px;
    box-shadow: 1px 3px 3px 3px rgb(216, 216, 216);
}
.logo{
    display: flex;
}
.logo h1{
    font-size: 35px;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: black;
    margin-inline: 22px;
    font-size: 20px;
}
.icons{
    display: flex;
    gap: 28px;
}
.icons i{
    font-size: 25px;
}
.main {
    display: flex;
    justify-content: space-around;
    margin-top: 140px;
}
.mainText {
    margin-top: 42px;
    padding-top: 100px;
    padding-left: 150px;
    width: 650px;
}
.mainText h1{
    font-size: 65px;
}
.mainText p{
    margin-top: 22px;
}
.mainText button{
    margin-top: 22px;
    width: 140px;
    height: 40px;
    background-color: rgb(243 211 211);
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.head{
    text-align: center;
    padding: 86px;
}
.foodCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;
    filter: blur(5px); 
    pointer-events: none;
}
.foodCard .card{
    width: 300px;
    margin-inline: 22px;
    margin-top: 22px;
    border:2px solid black ;
    
}
.card img{
    width: 100%;
    height: 250px;
}
.card p{
    padding: 9px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;
}
.gallery img{
    margin-inline: 6px;
    margin-top: 12px;
}
.gallery img:hover{
    box-shadow: 2px 5px 6px 5px gray;
}
.gallery img{
    width: 360px;
    height: 240px;
}
.blogs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.blogCard{
    display: flex;
    gap: 22px;
    width: 500px;
    padding: 22px;
    background-color: #575656;
    margin-inline: 22px;
    color: white;
    margin-top: 22px;
}
.blogCard img{
    width: 300px;
}
.blogText p{
    margin-top: 12px;
}
.blogText a{
    padding: 6px 20px;
    background-color: rgb(255, 102, 0);
    color: white;
    text-decoration: none;
    position: relative;
    top: 11px;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 66px;
    margin-top: 66px;
    background-color: black;
    color: white;

}
.text p{
    margin-top: 12px;
}

.foodDetail{
    display: flex;
    gap: 42px;

    margin-top: 33px;
    width: 750px;
}
.foodDetail img{
    width: 400px;
    height: 300px;
}
.foodDetail h2{
    margin-top: 22px;
}
.foodDetail p{
    margin-top: 22px;
}
.foodDetail button{
    margin-top: 22px;
    width: 110px;
    height: 33px;
    background-color: rgb(255, 123, 0);
    color: white;
    font-size: 18px;
    border: none;
}
.foodDetail a{
    padding: 5px;
    background-color: rgb(25, 0, 255);
    color: white;
    text-decoration: none;
    font-size: 18px;

}
#bar{
    display: none;
    font-size: 25px;
}
@media screen and (max-width:1100px){
    .main{
        display: block;
        text-align: center;
    }
}

@media screen and (max-width:750px){
    ul{
        display: none;
    }
    .icons{
        display: none;
    }
    #bar{
        display: block;
    }
}

@media screen and (max-width:600px){
    .mainText h1{
        font-size: 33px;
    }
    .main img{
        width: 90%;
    }
    .mainText p{
        font-size: 16px;
    }
    
    .blogCard{
        display: block;
        text-align: center;
        width: 90%;
    }
    .blogCard img{
        width: 90%;
    }
}


@media screen and (max-width:700px){
    .foodDetail{
        display: block;
        text-align: center;
        width: 90%;
    }
    .foodDetail img{
        width: 90%;
    }
}
@media screen and (max-width:400px){
    .gallery img{
        width: 90%;
    }
}
.login-btn{
    color: black;
    text-decoration: none;
    font-size: 25px;
}

.carTab{
    width: 400px;
    background-color: #d9bd81;
    color:#4d2121;
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: inset 0.5s ease-in-out;
}
body.showCart .carTab {
    inset: 0 0 0 auto;
}
.carTab h1{ 
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.carTab .btn{ 
    display: grid;
    grid-template-columns:repeat(2,1fr);
    height: 50px;
}
.carTab .btn button{
    background-color: #ffffff;
    border: none;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    margin: 3px;
    border-radius: 5px;
}
.carTab .ListCart .item img{
    width: 100%;
}
.carTab .ListCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.ListCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    color: #555;
    border-radius: 50%;
    cursor: pointer;
}
.ListCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
}

.ListCart .item:nth-child(even){
    background-color: #eee1;
}

.ListCart{
    overflow: auto;
}
.ListCart::-webkit-scrollbar{
    width: 0;
}
.fa-bag-shopping{
    cursor: pointer;
}

.foodCard  .add{
    margin-top: 22px;
    width: 300px;
    height: 33px;
    background-color: rgb(255, 182, 109);
    color: white;
    font-size: 18px;
    border: none;
}

#contact-detail{
    background-color: #e9d6d6;
    border: 2px solid black;
    margin-left: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    width: 1200px;
    padding: 20px;
}
#contact-detail .detail{
    width: 40%;
}
#contact-detail .detail span,
#form-detail form span{
    font-size: 12px;
}
#contact-detail .detail h2,
#form-detail form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}
#contact-detail .detail h3{
    font-size: 16px;
    padding-bottom: 15px;
}
#contact-detail .detail li{
    list-style: none;
    display: flex;
    padding: 10px 0;

}
#contact-detail .detail li i{
    font-size: 14px;
    padding-right: 22px;

}
#contact-detail .detail li p{
    margin: 0;
    font-size: 14px;
}
#contact-detail .map{
    width: 55%;
    height: 400px;
}
#contact-detail .map iframe{
    width: 100%;
    height: 100%;
}
.totalCart{
    display: flex ;
    align-items:center ;
    background-color: #ffffff;
    width: 100%;
    height: 40px;
}
.totalSpan{
    font-size: larger;
    font-weight: 700;
    margin-right: auto
}