@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --brown: #282421;
  --beige: #cdc6ba;
}

body {
  background-color: var(--beige);
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

.about-us-title-container {
  width: 100%;
  background-color: var(--brown);
  padding: 0.5rem 0;
  text-align: center;
  box-sizing: border-box;
}

.section-title-about-us {
  color: white;
  font-size: 2.2rem;
}

.section-subtitle {
  display: block;
  font-size: 2rem;
  color: var(--brown);
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 20px;
}

.section-title {
  font-size: 2rem;
  color: var(--brown);
  margin: 0;
  font-family: 'Lato', sans-serif;
  margin-left:20px;
}

.about-us__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.about-us__img {
  flex: 1 1 45%;
  text-align: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.about-us__img img {
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
}

.about-us__description {
  flex: 1 1 45%;
  color: var(--brown);
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 50px;
}

.services__container {
  display: grid;
  row-gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  padding: 2rem;
  gap: 2rem;
}

.services__content {
  text-align: center;
  padding: 1rem;
  background-color: #b2a795;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
  color: var(--brown);
}

.services__content:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.services__title {
  font-size: 1.4rem;
  color: var(--brown);
  margin-bottom: 1rem;
  font-family: 'Lato', sans-serif;
}

.services__description {
  padding: 0 1.5rem;
  font-size: 1rem;
  color: var(--brown);
  font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 768px) {
  .about-us__container {
    flex-direction: column;
    align-items: center;
  }

  .about-us__description {
    text-align: left;
    font-size: 1.2rem;
    padding: 1rem 0.5rem;
    line-height: 1.5;
  }

  .services__container {
    grid-template-columns: 1fr;
  }

  .services__content {
    padding: 1rem 0.5rem;
  }

  .services__description {
    padding: 0 1rem;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 480px) {
  .section-title-about-us, .section-title {
    font-size: 1.5rem;
  }

  .about-us__description {
    font-size: 1rem;
    line-height: 1.2;
  }

  .services__title {
    font-size: 1.2rem;
  }

  .services__description {
    font-size: 0.8rem;
  }
}
