@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  padding: 0%;
  margin: 0%;
  overflow-x: hidden;
  box-sizing: border-box;
}

:root {
  --brown: #282421;
  --beige: #cdc6ba;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #efffe3;
}
/* loading Effect */
#headLoader {
  width: 90%;
  padding: 33px;
  background-color: #eeeded;
  margin: auto;
  border-radius: 6px;
  margin-top: 13px;
}

/* mehak start */

.main {
  display: flex;
  background: var(--beige);
  color: white;
  height: fit-content;
}

.mainText {
  margin-top: 10rem;

  padding-left: 150px;
  width: 650px;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.mainText h1 {
  font-size: 7rem;
  color: var(--brown);
}
.mainText p {
  margin-top: 22px;
  letter-spacing: 2px;
  color: var(--brown);
}
.mainText button {
  margin-top: 22px;
  width: 140px;
  height: 40px;
  background-color: rgb(243 211 211);
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

nav {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;

  /* position: fixed; */
  top: 0%;
  width: 100%;
  background-color: var(--brown);

  height: 70px;
  /* box-shadow: 1px 3px 3px 3px rgb(216, 216, 216); */
}

.b {
  font-size: 0.5rem;
  padding: 0.3rem 0.7rem;
  border-radius: 1rem;
}

#gallery h1 {
  text-align: center;
  background: var(--beige);
  color: var(--brown);
}

#gallery {
  background: var(--beige);
  padding: 4rem;
}

.carousel-inner {
  height: 500px; /* Adjust this value as needed */
}

.carousel-item {
  height: 100%;
}

.carousel-img {
  height: 100%;
  width: 100%;
  object-fit: cover; /* Ensures the image covers the entire area */
}

.head h1 {
  color: var(--beige);
  background: var(--brown);
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.head p {
  color: var(--beige);
  letter-spacing: 1px;
}

.foodCard,
#food {
  background: var(--brown);
  padding-bottom: 2rem;
}

nav ul li a {
  color: white;
  font-size: 1rem;
}

.carousel-inner .carousel-item img {
  width: 10rem;
}

.map {
  background: var(--brown);
  padding-bottom: 3rem;
}
/* mehak end */

.mainLode {
  width: 80%;
  height: 260px;
  background-color: #eeeded;
  margin: auto;
  border-radius: 6px;
  margin-top: 13px;
  margin-top: 28px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cards {
  margin-top: 55px;
}
.cards .cardLoad {
  width: 340px;
  height: 300px;
  background-color: #eeeded;
  border-radius: 6px;
  margin-inline: 20px;
}
.cardLoad p {
  width: 330px;
  height: 25px;
  background-color: #eeeded;
  border-radius: 4px;
  margin-top: 321px;
}

.logo h1 {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  color: white;
}
ul {
  display: flex;
}
ul li {
  font-family: "Roboto", sans-serif;
  list-style: none;
}

ul li a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: black;
  margin-inline: 22px;
  font-size: 20px;
}
.icons {
  display: flex;
  gap: 28px;
}
.icons i {
  font-size: 25px;
}

.head {
  text-align: center;
  padding: 86px;
}

.foodCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.foodCard .card {
  width: 300px;
  margin-inline: 22px;
  margin-top: 22px;
  border: 2px solid white;
}

.card img {
  width: 100%;
  height: 250px;
}

.card p {
  padding: 9px;
}

.add {
  background-color: #f19a16;
  color: white;
  border: none;
  width: fit-content;
  /* padding: 10px; */
  /* margin-bottom: 1rem; */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.add:hover {
  background-color: #e68a00;
}

.add:active {
  background-color: #cc7a00;
  transform: scale(0.95);
}

/* Click effect animation */
@keyframes clickEffect {
  0% {
    transform: scale(1);
    background-color: #ff9800;
  }
  50% {
    transform: scale(0.9);
    background-color: #e68a00;
  }
  100% {
    transform: scale(1);
    background-color: #cc7a00;
  }
}

.add:active {
  animation: clickEffect 0.3s;
}

#gallery {
  background: var(--beige);
}

#gallery h1 {
  padding-bottom: 1rem;
}

.blogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.blogCard {
  display: flex;
  gap: 22px;
  width: 500px;
  padding: 22px;
  background-color: #575656;
  margin-inline: 22px;
  color: white;
  margin-top: 22px;
}
.blogCard img {
  width: 300px;
}
.blogText p {
  margin-top: 12px;
}
.blogText a {
  padding: 6px 20px;
  background-color: rgb(255, 102, 0);
  color: white;
  text-decoration: none;
  position: relative;
  top: 11px;
}
footer {
  background: linear-gradient(to right, rgb(191, 164, 65), #744333);
  /* border-top-left-radius: 100px; */
  position: relative;
  width: 100%;
}

footer * {
  color: white;
}

.container1 {
  display: flex;
  justify-content: space-between;
  padding: 50px 7%;
}

.footer-col {
  width: 25%;
}

.footer-col h2 {
  font-optical-sizing: 1.7em;
  text-transform: uppercase;

  padding-bottom: 1rem;
}

p.email {
  margin: 30px 0;
}

p.phone {
  font-size: 20px;
  font-weight: 400;
}

.footer-col .text-office {
  margin-bottom: 20px;
}

.underline {
  width: 70px;
  height: 3px;
  position: relative;
  background-color: white;
  margin-top: 5px;
  /* margin-bottom: 20px; */
  border-radius: 3px;
  overflow: hidden;
}

.footer-col ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.footer-col ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  transition: color 0.3s;
  margin-left: 0;
}

.footer-col ul li a:hover {
  color: #000000;
}

.underline span {
  width: 7px;
  height: 100%;
  position: absolute;
  left: 10px;
  background-color: rgb(63, 63, 63);
  border-radius: 3px;
  animation: moving 1.5s linear infinite;
}

@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}

.footer-col ul {
  list-style-type: none;
  padding-top: 10px;
}

.footer-col ul li {
  margin: 10px;
  margin-left: 0;
}

.footer-col form {
  margin-top: 20px;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  display: flex;
}

.footer-col form input {
  width: 70%;
  background: transparent;
  border: none;
  outline: none;
  padding-left: 10px;
}

.footer-col form i {
  font-size: 15px;
}

.footer-col .social-icons {
  margin-top: 20px;
}

.footer-col .social-icons i {
  padding: 10px;
  background-color: white;
  color: #00093c;
  border-radius: 50%;
  margin: 5px;
}

.footer-para {
  max-width: 250px;
  line-height: 1.4;
}
.text p {
  margin-top: 12px;
}

.foodDetail {
  display: flex;
  gap: 42px;

  margin-top: 33px;
  width: 750px;
}
.foodDetail img {
  width: 400px;
  height: 300px;
}
.foodDetail h2 {
  margin-top: 22px;
}
.foodDetail p {
  margin-top: 22px;
}
.foodDetail button {
  margin-top: 22px;
  width: 110px;
  height: 33px;
  background-color: rgb(255, 123, 0);
  color: white;
  font-size: 18px;
  border: none;
}
.foodDetail a {
  padding: 5px;
  background-color: rgb(25, 0, 255);
  color: white;
  text-decoration: none;
  font-size: 18px;
}
#bar {
  display: none;
  font-size: 25px;
}
@media screen and (max-width: 1100px) {
  .main {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 750px) {
  ul {
    display: none;
  }
  .icons {
    display: none;
  }
  #bar {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .mainText h1 {
    font-size: 33px;
  }
  .main img {
    width: 90%;
  }
  .mainText p {
    font-size: 16px;
  }

  .blogCard {
    display: block;
    text-align: center;
    width: 90%;
  }
  .blogCard img {
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .foodDetail {
    display: block;
    text-align: center;
    width: 90%;
  }
  .foodDetail img {
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  .gallery img {
    width: 90%;
  }
}
.login-btn {
  color: black;
  text-decoration: none;
  font-size: 25px;
}

.carTab {
  width: 400px;
  background-color: #d9bd81;
  color: #4d2121;
  position: fixed;
  inset: 0 -400px 0 auto;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: inset 0.5s ease-in-out;
  z-index: 1000;
}
body.showCart .carTab {
  inset: 0 0 0 auto;
}
.carTab h1 {
  
  margin: 0;
  font-weight: 300;
  text-align: center;
  font-family: sans-serif;
}
.carTab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 50px;
}
.carTab .btn button {
  /* background-color: #ffffff;
  border: none;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  margin: 3px;
  border-radius: 5px; */
  background-color: var(--beige);
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* margin-top: 10px; */
    margin-left: 10px;
}
.carTab .btn button:hover{
    background-color: #45a049;
}
.carTab .ListCart .item img {
  width: 100%;
}
.carTab .ListCart .item hr{
   width: 100%;
}
.carTab .ListCart .item {
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
  margin-bottom: 2px;
}
.carTab .totalCart{
  background-color: #d9bd81;
  text-align: center;
}
.carTab .totalCart .totalSpan{
  padding-left: 30px;
}
.carTab .ListCart .item .name{
  font-family: sans-serif;
}
.carTab .line{
  position: relative;
  top: 20px;
  opacity: 1;
  height: 3px;
  background: black;
  margin-bottom: 70px;
}
.ListCart .quantity span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #d9bd81;
  color: black;
  border-radius: 50%;
  cursor: pointer;
}
.ListCart .quantity span:nth-child(2) {
  background-color: transparent;
  color: black;
}

.ListCart .item:nth-child(even) {
  background-color: #eee1;
  margin-bottom: 2px;
}

.ListCart {
  overflow: auto;
}
.ListCart::-webkit-scrollbar {
  width: 0;
}
.fa-bag-shopping {
  cursor: pointer;
}

.foodCard .add {
  margin-top: 22px;
  width: 300px;
  height: 33px;
  background-color: rgb(255, 182, 109);
  color: white;
  font-size: 18px;
  border: none;
}

#contact-detail {
  /* background-color: #e9d6d6; */

  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 4rem;
}
#contact-detail .detail {
  width: 40%;
}
#contact-detail .detail span,
#form-detail form span {
  font-size: 12px;
}
#contact-detail .detail h2,
#form-detail form h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}
#contact-detail .detail h3 {
  font-size: 16px;
  padding-bottom: 15px;
}
#contact-detail .detail li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}
#contact-detail .detail li i {
  font-size: 14px;
  padding-right: 22px;
}
#contact-detail .detail li p {
  margin: 0;
  font-size: 14px;
}
#contact-detail .map {
  width: 55%;
  height: 400px;
}
#contact-detail .map iframe {
  width: 100%;
  height: 100%;
}
.totalCart {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  height: 40px;
}
.totalSpan {
  font-size: larger;
  font-weight: 700;
  margin-right: auto;
}