* {
  padding: 0%;
  margin: 0%;
  overflow-x: hidden;
  box-sizing: border-box;
}

:root {
  --brown: #282421;
  --beige: #cdc6ba;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #efffe3;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cards {
  margin-top: 55px;
}
.cards .cardLoad {
  width: 340px;
  height: 300px;
  background-color: #eeeded;
  border-radius: 6px;
  margin-inline: 20px;
}

/* mehak start */

.main {
  display: flex;
  /* justify-content: space-around; */
  background: var(--beige);
  color: white;
  height: fit-content;
  /* clip-path: polygon(0 0, 100% 0, 100% 99%, 27% 78%, 47% 78%, 0 100%, 0 66%); */
  /* clip-path: polygon(0 0, 100% 0, 100% 68%, 27% 78%, 27% 78%, 0 100%, 0 66%); */
}

.mainText {
  margin-top: 10rem;

  padding-left: 150px;
  width: 650px;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.mainText h1 {
  font-size: 7rem;
  color: var(--brown);
}
.mainText p {
  margin-top: 22px;
  letter-spacing: 2px;
  color: var(--brown);
}
.mainText button {
  margin-top: 22px;
  width: 140px;
  height: 40px;
  background-color: rgb(243 211 211);
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--brown);
  height: 70px;
  z-index: 1000;
  transition: all 0.3s ease;
}

.b {
  font-size: 0.5rem;
  padding: 0.3rem 0.7rem;
  border-radius: 1rem;
}

#gallery h1 {
  text-align: center;
  background: var(--beige);
  color: var(--brown);
}

#gallery {
  background: var(--beige);
  padding: 4rem;
}

.carousel-inner {
  height: 500px; /* Adjust this value as needed */
}

.carousel-item {
  height: 100%;
}

.carousel-img {
  height: 100%;
  width: 100%;
  object-fit: cover; /* Ensures the image covers the entire area */
}

.head h1 {
  color: var(--beige);
  background: var(--brown);
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.head p {
  color: var(--beige);
  letter-spacing: 1px;
}

.foodCard,
#food {
  background: var(--brown);
  padding-bottom: 2rem;
}
nav ul {
  display: flex;  /* Assuming flexbox is already set */
  gap: 1.5em;  /* Adjust for desired spacing */;
}

nav ul li {
  margin-right: 20px;  /* Add spacing between navigation items */
}
nav ul li a {
  color: white;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;  /* Set font family */
  font-size: 16px;  /* Set font size */
  color: white;  /* Set text color */
  text-decoration: none;  /* Remove underline */
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;  /* Add transitions for hover effects */
  border-radius: 5px;  /* Set default rounded corners */
  border-color: #ff5c25;
}
nav ul li a:hover {
  color: #f57200;  /* Change text color on hover */
  transform: scale(1.1);  /* Increase size on hover by 10% */
  border-radius: 0;  /* Remove rounded corners on hover for a squared effect */
}
.carousel-inner .carousel-item img {
  width: 10rem;
}

.map {
  background: var(--brown);
  padding-bottom: 3rem;
}
/* mehak end */
.cardLoad p {
  width: 330px;
  height: 25px;
  background-color: #eeeded;
  border-radius: 4px;
  margin-top: 321px;
}

.logo {
  display: flex;
  color: white;
}
.logo h1 {
  font-size: 35px;
}
ul {
  display: flex;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: black;
  margin-inline: 22px;
  font-size: 20px;
}
.icons {
  display: flex;
  gap: 28px;
}
.icons i {
  font-size: 20px;
  color: #f57200;  /* Change text color on hover */
  align-content: center;
  margin-right: 10px;
  border-radius: 5px;  /* Set default rounded corners */
  border-color: #ff5c25;
}
/* .main {
  display: flex;
  justify-content: space-around;
} */
/* .mainText {
  margin-top: 42px;
  padding-top: 100px;
  padding-left: 150px;
  width: 650px;
} */

.mainText button {
  margin-top: 22px;
  width: 140px;
  height: 40px;
  background-color: rgb(243 211 211);
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.head {
  text-align: center;
  padding: 86px;
}
.foodCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-wrap: wrap;
  filter: blur(5px);
  pointer-events: none;
}
.foodCard .card {
  width: 300px;
  margin-inline: 22px;
  margin-top: 22px;
  border: 2px solid white;
}
.card img {
  width: 100%;
  height: 250px;
}
.card p {
  padding: 9px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-wrap: wrap;
}
.gallery img {
  margin-inline: 6px;
  margin-top: 12px;
}
.gallery img:hover {
  box-shadow: 2px 5px 6px 5px gray;
}
.gallery img {
  width: 360px;
  height: 240px;
}
.blogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.blogCard {
  display: flex;
  gap: 22px;
  width: 500px;
  padding: 22px;
  background-color: #575656;
  margin-inline: 22px;
  color: white;
  margin-top: 22px;
}
.blogCard img {
  width: 300px;
}
.blogText p {
  margin-top: 12px;
}
.blogText a {
  padding: 6px 20px;
  background-color: rgb(255, 102, 0);
  color: white;
  text-decoration: none;
  position: relative;
  top: 11px;
}

/*footer*/
footer {
  background: linear-gradient(to right, rgb(191, 164, 65), #744333);
  /* border-top-left-radius: 100px; */
  position: absolute;
  width: 100%;
}

footer * {
  color: white;
}

.container1 {
  display: flex;
  justify-content: space-between;
  padding: 50px 7%;
}

.footer-col {
  width: 25%;
}

.footer-col h2 {
  font-optical-sizing: 1.7em;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

p.email {
  margin: 30px 0;
}

p.phone {
  font-size: 20px;
  font-weight: 400;
}

.footer-col .text-office {
  margin-bottom: 20px;
}
.underline {
  width: 70px;
  height: 3px;
  position: relative;
  background-color: white;
  margin-top: 5px;
  /* margin-bottom: 20px; */
  border-radius: 3px;
  overflow: hidden;
}

.footer-col ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.footer-col ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  transition: color 0.3s;
  margin-left: 0;
}

.footer-col ul li a:hover {
  color: #000000;
}

.underline span {
  width: 7px;
  height: 100%;
  position: absolute;
  left: 10px;
  background-color: rgb(63, 63, 63);
  border-radius: 3px;
  animation: moving 1.5s linear infinite;
}

@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}

.footer-col ul {
  list-style-type: none;
  padding-top: 10px;
}

.footer-col ul li {
  margin: 10px;
  margin-left: 0;
}

.footer-col form {
  margin-top: 20px;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  display: flex;
}

.footer-col form input {
  width: 70%;
  background: transparent;
  border: none;
  outline: none;
  padding-left: 10px;
}

.footer-col form i {
  font-size: 15px;
}

.footer-col .social-icons {
  margin-top: 20px;
}

.footer-col .social-icons i {
  padding: 10px;
  background-color: white;
  color: #00093c;
  border-radius: 50%;
  margin: 5px;
}

.footer-para {
  max-width: 250px;
  line-height: 1.4;
}

.foodDetail {
  display: flex;
  gap: 42px;

  margin-top: 33px;
  width: 750px;
}
.foodDetail img {
  width: 400px;
  height: 300px;
}
.foodDetail h2 {
  margin-top: 22px;
}
.foodDetail p {
  margin-top: 22px;
}
.foodDetail button {
  margin-top: 22px;
  width: 110px;
  height: 33px;
  background-color: rgb(255, 123, 0);
  color: white;
  font-size: 18px;
  border: none;
}
.foodDetail a {
  padding: 5px;
  background-color: rgb(25, 0, 255);
  color: white;
  text-decoration: none;
  font-size: 18px;
}
#bar {
  display: none;
  font-size: 25px;
}
@media screen and (max-width: 1100px) {
  .main {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 750px) {
  ul {
    display: none;
  }
  .icons {
    display: none;
  }
  #bar {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .mainText h1 {
    font-size: 33px;
  }
  .main img {
    width: 90%;
  }
  .mainText p {
    font-size: 16px;
  }

  .blogCard {
    display: block;
    text-align: center;
    width: 90%;
  }
  .blogCard img {
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .foodDetail {
    display: block;
    text-align: center;
    width: 90%;
  }
  .foodDetail img {
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  .gallery img {
    width: 90%;
  }
}
.login-btn {
  color: black;
  text-decoration: none;
  font-size: 25px;
}

.carTab {
  width: 400px;
  background-color: #d9bd81;
  color: #4d2121;
  position: fixed;
  inset: 0 -400px 0 auto;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: inset 0.5s ease-in-out;
}
body.showCart .carTab {
  inset: 0 0 0 auto;
}
.carTab h1 {
  padding: 20px;
  margin: 0;
  font-weight: 300;
}
.carTab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 50px;
}
.carTab .btn button {
  background-color: #ffffff;
  border: none;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  margin: 3px;
  border-radius: 5px;
}
.carTab .ListCart .item img {
  width: 100%;
}
.carTab .ListCart .item {
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
}
.ListCart .quantity span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #eee;
  color: #555;
  border-radius: 50%;
  cursor: pointer;
}
.ListCart .quantity span:nth-child(2) {
  background-color: transparent;
  color: #eee;
}

.ListCart .item:nth-child(even) {
  background-color: #eee1;
}

.ListCart {
  overflow: auto;
}
.ListCart::-webkit-scrollbar {
  width: 0;
}
.fa-bag-shopping {
  cursor: pointer;
}

.foodCard .add {
  margin-top: 22px;
  width: 300px;
  height: 33px;
  background-color: rgb(255, 182, 109);
  color: white;
  font-size: 18px;
  border: none;
}

#contact-detail {
  /* background-color: #e9d6d6; */

  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 4rem;
}
#contact-detail .detail {
  width: 40%;
}
#contact-detail .detail span,
#form-detail form span {
  font-size: 12px;
}
#contact-detail .detail h2,
#form-detail form h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}
#contact-detail .detail h3 {
  font-size: 16px;
  padding-bottom: 15px;
}
#contact-detail .detail li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}
#contact-detail .detail li i {
  font-size: 14px;
  padding-right: 22px;
}
#contact-detail .detail li p {
  margin: 0;
  font-size: 14px;
}
#contact-detail .map {
  width: 55%;
  height: 400px;
}
#contact-detail .map iframe {
  width: 100%;
  height: 100%;
}
.totalCart {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  height: 40px;
}
.totalSpan {
  font-size: larger;
  font-weight: 700;
  margin-right: auto;
}


.topbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 11px;
  right: 29px;
  text-decoration: none;
  background-color: #282421;
  text-align: center;
  line-height: 50px;
  user-select: none;
  font-size: 22px;
  border-radius: 50%
}
